/* Theme */

main {
	background-image: url(https://github.com/antheashophn/antheashophn.github.io/blob/master/anthea_bg.png);
	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}