/* Theme */

main {
	background-size: contain;
	background-image: url(https://github.com/antheashophn/antheashophn.github.io/blob/master/anthea_bg.p);
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}