/* Theme */

main {
	border: 2px solid black;
	padding: 25px;
	background-image: url(https://github.com/antheashophn/antheashophn.github.io/blob/master/anthea_bg_2.png?raw=true);
	background-size: auto;
	background-repeat: no-repeat;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}